NWTRACK_DB_FILE_PATH="data/sqlite/nwtrack.db"
NWTRACK_DB_DDL_PATH="sql/nwtrack_ddl.sql"
NWTRACK_LOG_DIR="./logs/"
NWTRACK_LOG_FILE_LEVEL="INFO"
NWTRACK_LOG_CONSOLE_LEVEL="WARNING"
NWTRACK_LOG_ROTATION_BYTES=10485760
NWTRACK_LOG_BACKUP_COUNT=7
